#menytxt:hover{
	color:white;
}
body{
	position: relative;
	left:0;
	width:100%;
	min-height:100%;
	background-color: #f6f6f6;
	margin: 0;
	z-index: 0;
}

#wrapper{
	position: absolute;
	left:0;
	top:55px;
	width:100%;
	height: auto;
	min-height: 100vh;
	background-color: white;
}
#footer{
	position: absolute;
		bottom: 0;
		left: 0;
	background-color: #c2203b;
	width:100%;
	height: 50px;
	z-index:10;
}

#header{
	position: relative;
		top:0;
		left:0;
	width: 100%;
	height: 100px;
	background-color: #c2203b;
	margin:0;
	z-index: 3;
}

#meny{
	position: absolute;
		left:0;
	width:100%;
	height:55px;
	background-color: #d9d9d9;
	margin: 0;
	border-top: solid 1px;
	border-bottom: solid 1px;
	z-index:100;
}

#meny1{
	position: absolute;
		top:0;
		left:0;
	width:20%;
	height:100%;
	border-right:solid 1px;
	border-color:black;
	margin:0;
	color:black;
}

#meny1:hover{
	position: absolute;
		top:0;
		left:0;
	width:20%;
	height:100%;
	border-right:solid 1px;
	border-color:black;
	margin:0;
	background-color: #d6334e;
	
}

#meny1:hover p {
    color: #FFF;
}

#meny2{
	position: absolute;
    top:0;
    left:20%;
	width:20%;
	height:100%;
	border-right:solid 1px;
	border-color:black;
	margin:0;
	color:black;
    
}

#meny2:hover{
	position: absolute;
    top:0;
    left:20%;
	width:20%;
	height:100%;
	border-right:solid 1px;
	border-color:black;
	margin:0;
	background-color: #d6334e;
	color:white;
}

#meny2:hover p {
    color: #FFF;
}

#meny2dropdown{
	position: absolute;
    top:100%;
    left:5%;
	width:auto;
    min-width: 90%;
    max-width: 100%;
	height:auto;
	border:solid 1px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	border-color:black;
	margin:0;
	background-color: white;
    display: none;
    opacity: 0;
    background-color: #d9d9d9;
}

#meny2dropdown a {
    padding: 7px 8px 7px 8px;
    text-decoration: none;
    display: block;
}
.dropdownting{
	text-align: center;
	font-family:  "Arial Black", Gadget, sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: black;
    opacity: 1;
    z-index: 2;
}

.dropdownting:hover{
	background-color: #d6334e;
	color: white;
}

#meny3{
	position: absolute;
    top:0;
    left:40%;
	width:20%;
	height:100%;
	border-right:solid 1px;
	border-color:black;
	margin:0;
	color:black;
}

#meny3:hover{
	position: absolute;
    top:0;
    left:40%;
	width:20%;
	height:100%;
	border-right:solid 1px;
	border-color:black;
	margin:0;
	background-color: #d6334e;
	color:white;
}

#meny3:hover p {
    color: #FFF;
}

#meny4{
position: absolute;
top:0;
left:60%;
width:20%;
height:100%;
border-right:solid 1px;
border-color:black;
margin:0;
color:black;
}

#meny4:hover{
position: absolute;
    top:0;
    left:60%;
width:20%;
height:100%;
border-right:solid 1px;
border-color:black;
margin:0;
background-color: #d6334e;
color:white;
}

#meny4:hover p {
    color: #FFF;
}

#meny5{
position: absolute;
    top:0;
    left:80%;
width:20%;
height:100%;
border-color:black;
margin:0;
color:black;
}

#meny5:hover{
	position: absolute;
		top:0;
		left:80%;
	width:20%;
	height:100%;
	border-color:black;
	margin:0;
	background-color: #d6334e;
	color:white;
}
#meny5:hover p {
    color: #FFF;
}

#menytxt{
	margin-top:12px;
	text-align: center;
	color: black;
	font-family:  "Arial Black", Gadget, sans-serif;
	font-weight: bold;
	font-size: 20px;
}

#menytxt:hover{
	color:white;
}

h1{
	font-family: Trebuchet MS, sans-serif;
	font-size: 1.7vw;
	text-align: center;
}

h3{
	margin-top:-1.5px;
	font-family: Trebuchet MS, sans-serif;
	font-size: 20px;
	text-align: center;
}

#bildereplacement{
	width:50%;
	height: 130px;
}

#allergendiv{
	margin-top:100px;
	float:left;
	width:32.84vw;
	min-height: 100vh;
	background-color: #327a0c;
	border-right: 1px solid black;
}

#allergentextdiv{
	position: relative;
	left:65%;
	transform: translate(-50%);
	top:0;
	width:70%;
}

#allergenbilde{
	width:10%;
	height:10%;
	margin-right: 4px;
}

ol{
	font-family: Trebuchet MS, sans-serif;
	font-size: 30px;
	color:white;
	line-height: 2.5em;
}

#omoss{
	margin-top: 8%;
	width: 100%;
	text-align: center;
	position: absolute;
}

#generellInfo{
	font-family: Trebuchet MS, sans-serif;
	font-size: 16px;
	font-weight: bold;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	text-align: center;
}

#omossDIV2{
	position: absolute;
	top:17%;
	left:50%;
	height:auto;
	transform: translate(-50%);
	border: 1px solid;
	border-radius: 10px;
	width:90%;
	background-color: #ddddbb;
}

#omossDIV{
	position: absolute;
	top:45%;
	left:24%;
	transform: translate(-50%);
	border: 1px solid;
	padding:20px;
	border-radius: 10px;
	width:43%;
	height:auto;
	background-color: #ddddbb;
}

#åpningstider{
	font-family: Trebuchet MS, sans-serif;
	font-size: 16px;
	left:0;
	height: 50%;'
	position: absolute;
	display: inline-block;
}

#telefon{
	position: absolute;
	width: 15%;
	height: 150px;
	left:72%;
	top:10%;
	padding:15px;
	border: 1px solid;
	border-radius: 5px;
	font-family: Trebuchet MS, sans-serif;
	font-size: 17px;
	display: inline-block;
	text-align: center;
	box-shadow: 10px 10px 5px #888888;
}

#adresse{
	position: absolute;
	width: 15%;
	height: 150px;
	left:45%;
	top:10%;
	padding:15px;
	border: 1px solid;
	border-radius: 5px;
	font-family: Trebuchet MS, sans-serif;
	font-size: 20px;;
	display: inline-block;
	text-align: center;
	box-shadow: 10px 10px 5px #888888;
}

#adressebilde{
	height:40%;
	width:40%;
}

#telefonbilde{
	height:40%;
	width:40%;
}

#kontaktinfo{
	position: relative;
	font-family: Trebuchet MS, sans-serif;
	font-size: 22px;
	display: inline-block;
	margin-left: -5%;
}

#googleMaps{
	position: absolute;
	transform: translate(-50%);
	left:74%;
	top:45%;
	height: 280px;
	border-radius: 10px;
	width:50%;
	border: 1px solid	;
}

/*==========================================================================================*/

@media screen and (min-width: 650px) {
	#headerimg{
	position: absolute;
	top:7px;
	left:50%;
	transform: translate(-50%);
	margin:0;
	height:85%;
	width:35%;
	}


	#box1 {
		float:left;
		z-index: 4;
		border-right: 1px solid;
	}
	#box2 {
		float:left;
		z-index: 4;
		border-right: 1px solid;
		border-left: 1px solid;
	}
	#box3 {
		float:left;
		z-index: 4;
		border-right: 1px solid;
		border-left: 1px solid;
	}
	#box4 {
		float:left;
		z-index: 4;
		border-right: 1px solid;
		border-left: 1px solid;
	}
	#box5 {
		float:left;
		z-index: 4;
		border-left: 1px solid;

	}

	.box {
		box-sizing: border-box;
		width: 20%;
		height: auto;
		z-index: 3;
		margin-top:100px;
		background-color: #ddddbb;
	}
	/* ANDRE RAD */
	.box1 {
		box-sizing: border-box;
		border-top: 1px solid;
		width: 20%;
		height: auto;
		z-index: 3;
		background-color: #ddddbb;
	}
	/* TREDJE RAD */
	.box2 {
		box-sizing: border-box;
		border-top: 1px solid;
		width: 20%;
		height: auto;
		z-index: 3;
		background-color: #ddddbb;
		margin-bottom: 50px;
	}

	/* FJERDE RAD */
	.box3 {
		box-sizing: border-box;
		border-top: 1px solid;
		width: 20%;
		height: auto;
		z-index: 3;
		background-color: #ddddbb;
	}
	/* FEMTE RAD */
	.box4 {
		box-sizing: border-box;
		border-top: 1px solid;
		width: 20%;
		height: auto;
		z-index: 3;
		background-color: #ddddbb;
	}

	/* SJETTE RAD */
	.box5 {
		box-sizing: border-box;
		border-top: 1px solid;
		width: 20%;
		height: auto;
		z-index: 3;
		background-color: #ddddbb;
		margin-bottom: 50px;
	}
}

/*==========================================================================================*/

@media screen and (max-width: 650px) {
	#headerimg{
	position: absolute;
	top:7px;
	left:27.5%;
	margin:0;
	height:85%;
	width:45%;
	}

	#meny {
		position:absolute; ;
		left:0;
		width:100%;
		height:200px;
		background-color: #d9d9d9;
		margin: 0;
		border-top: solid 1px;
		border-bottom: solid 1px;
		z-index:100;
	}

	#meny1 {
		position: absolute;
			top:0;
			left:0;
		width:100%;
		height:40px;
		border-right:solid 1px;
		border-color:black;
		margin:0;
		color:black;
	}

	#meny1:hover{
		position: absolute;
			top:0;
			left:0;
		width:100%;
		height:40px;
		border-right:solid 1px;
		border-color:black;
		margin:0;
		background-color: #d6334e;
		color:white;
	}

	#meny2{
		position: absolute;
			top:40px;
			left:0;
		width:100%;
		height:40px;
		border-right:solid 1px;
		border-color:black;
		margin:0;
		color:black;
	}

	#meny2:hover{
		position: absolute;
			top:40px;
			left:0;
		width:100%;
		height:40px;
		border-right:solid 1px;
		border-color:black;
		margin:0;
		background-color: #d6334e;
		color:white;
	}

	#meny3{
		position: absolute;
			top:80px;
			left:0;
			width:100%;
		height:40px;
		border-right:solid 1px;
		border-color:black;
		margin:0;
		color:black;
	}

	#meny3:hover{
		position: absolute;
			top:80px;
			left:0;
			width:100%;
		height:40px;
		border-right:solid 1px;
		border-color:black;
		margin:0;
		background-color: #d6334e;
		color:white;
	}

	#meny4{
		position: absolute;
			top:120px;
			left:0;
			width:100%;
		height:40px;
		border-right:solid 1px;
		border-color:black;
		margin:0;
		color:black;
	}

	#meny4:hover{
		position: absolute;
			top:120px;
			left:0;
			width:100%;
		height:40px;
		border-right:solid 1px;
		border-color:black;
		margin:0;
		background-color: #d6334e;
		color:white;
	}

	#meny5{
		position: absolute;
			top:160px;
			left:0;
			width:100%;
		height:40px;
		border-color:black;
		margin:0;
		color:black;
	}

	#meny5:hover{
		position: absolute;
			top:160px;
			left:0;
			width:100%;
		height:40px;
		border-color:black;
		margin:0;
		background-color: #d6334e;
		color:white;
	}

	#wrapper{
		position: absolute;
		left:0;
		top:300px;
		width:100%;
		height: auto;
		min-height: 100vh;
		color:black;	
	}

	#box1 {
		float:left;
		z-index: 3;
		border-left: 1px solid;
	}
	#box2 {
		float:left;
		z-index: 3;
		border-left: 1px solid;
	}
	#box3 {
		float:left;
		z-index: 3;
		border-left: 1px solid;
	}
	#box4 {
		float:left;
		z-index: 3;
		border-left: 1px solid;
	}
	#box5 {
		float:left;
		z-index: 3;
		border-left: 1px solid;
	}

	.box {
		box-sizing: border-box;
		border-top: 1px solid;
		width: 33.333333333%;
		height: auto;
		z-index: 2;
		background-color: #ddddbb;
	}
	/* ANDRE RAD */
	.box1 {
		box-sizing: border-box;
		border-top: 1px solid;
		width: 33.333333333%;
		height: auto;
		z-index: 2;
		background-color: #ddddbb;
	}
	/* TREDJE RAD */
	.box2 {
		box-sizing: border-box;
		border-top: 1px solid;
		width: 33.333333333%;
		height: auto;
		z-index: 2;
		background-color: #ddddbb;
	}

	#box5.box2{
		margin-bottom: 50px;
	}
}

/*==========================================================================================*/